/** @format */

:root {
  --accent-color: #68b0de;
  --accent-color-dark: #4d9cd6;
  --accent-color-light: #a0d9f9;
  --text-dark: #131313;
  --text-light: #fafafa;
  --text-light-dark: hsl(0, 0%, 88%);
  --font: Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  font-family: var(--font);
}

body {
  max-width: 1600px;
  margin: 0 auto;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

a {
  font-family: Arial;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  color: var(--accent-color);
  margin: 0;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  -moz-transition: all 0.2s;
}
a:focus {
  outline: none !important;
}
a:hover {
  text-decoration: none;
  color: var(--accent-color-dark);
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: var(--accent-color-dark);
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  padding: 0;
  color: var(--text-dark);
}

p {
  font-family: Arial;
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-dark);
  margin: 0;
}
ul,
li {
  margin: 0;
  list-style-type: none;
}
input {
  width: 100%;
  outline: rgba(0, 0, 0, 0.2) solid 1px;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
}
textarea:focus,
input:focus {
  border-color: transparent !important;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
}
textarea:focus::-moz-placeholder {
  color: transparent;
}
textarea:focus:-ms-input-placeholder {
  color: transparent;
}
input::-webkit-input-placeholder {
  color: #999;
}
input:-moz-placeholder {
  color: #999;
}
input::-moz-placeholder {
  color: #999;
}
input:-ms-input-placeholder {
  color: #999;
}
textarea::-webkit-input-placeholder {
  color: #999;
}
textarea:-moz-placeholder {
  color: #999;
}
textarea::-moz-placeholder {
  color: #999;
}
textarea:-ms-input-placeholder {
  color: #999;
}
button {
  outline: none !important;
  border: none;
  background: var(--accent-color);
}
button:hover {
  cursor: pointer;
}
iframe {
  border: none !important;
}
hr {
  margin-bottom: 1rem;
}
label {
  font-size: 14px;
  color: var(--text-dark);
  margin: 0;
  margin-top: 15px;
  margin-bottom: 5px;
}
.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.card {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: auto;
}
button {
  width: 100%;
  position: relative;
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  -moz-transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
}
button:hover {
  background: var(--accent-color-dark);
}
.selector {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
button[active='false'] {
  background-color: var(--text-light);
  color: var(--text-dark);
}
button[active='false']:hover {
  background-color: var(--text-light-dark);
  color: var(--text-dark);
}
.selector-btn {
  margin-top: 0;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin: 20px;
  padding: 20px;
}
form {
  width: 25vw;
  max-width: 350px;
}

@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
  }
  form {
    width: 100%;
  }
}
nav {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  width: 100%;
}
.logo {
  width: 50%;
  max-width: 50px;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-10px);
  }
  66% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
